---
title: Software Developer | Patrick Piedad
layout: 'base.njk'
---
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>About Me</h2>
							<p>Army Officer turned Software Developer</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>My Story</h3>
								<p>I went to university on a United States Army scholarship, solidifying my future as both an Armor and Intelligence Officer.
								I spent most of my military career stationed in Bavaria, Germany, where I would meet my beautiful wife, Theresa. After getting
								married, we decided that I would leave the military and we would put our roots down, here in Germany.</p>

								<p>As a result, I needed to find a new career that I could pursue, that would also give me the passion and drive that I found
								serving. After a lot of self reflection, figuring what I really enjoyed in my military career, I found myself turning to software development.</p>

								<p>Fast forward a bit, I am happily creating professional solutions to my dynamic and challenging problems using various skills such as HTML, CSS, Javascript, and more.
								By utilizing my hard earned skills and combining them with my previous experience, I'm confident that we can find create the perfect product together!</p>

<!--								<hr />-->

<!--								<h4>Software Development and Beyond</h4>-->
<!--								<p>Test</p>-->

							</div>
						</section>
					</article>

			</div>