---
title: Software Developer | Patrick Piedad
layout: 'baseRest.njk'
---
		<!-- Page Wrapper -->
			<div id="page-wrapper">


				<!-- Main -->
					<article id="main">
						<header>
							<h2>My Coding Thoughts</h2>
							<p>Here's my coding jounrey, in blog form.</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
						
						{# TODO: Need to add the proper classes for the blog text template and pictures #}
				<ul class="actions">
					{%- for post in collections.post | reverse -%}
					<li>
						<article>
							<img src="{{post.data.image}}" alt="{{post.data.imageAlt}}">
							<h3>{{ post.data.title}}</h3>
							<p> by <span>{{post.data.author}}</p>
							<p><span>{{post.data.description}}</p>
							<h3><a class ="button primary" href="{{post.url}}">Continue reading</a></h3>
						</article>
					</li>

					{# 									<ul class="actions">
										<li><a href="#" class="button primary">Primary</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul> #}
					{%- endfor %}
				<ul>


							</div>
						</section>
					</article>

			</div>


			</div>