---
title: Software Developer | Patrick Piedad
layout: 'baseRest.njk'
---
		<!-- Page Wrapper -->
			<div id="page-wrapper">


				<!-- Main -->
					<article id="main">
						<header>
							<h2>My Coding Thoughts</h2>
							<p>Here's my coding journey, in blog form.</p>
						</header>
						{# <section class="wrapper style5"> #}
							<section class = "wrapper style2">
							<div class="inner">
						
				{# TODO: Need to add the proper classes for the blog text template and pictures #}
				<ul class="alt">
					{%- for post in collections.post | reverse -%}
						{% include 'articleSnippet.njk' %}
					{%- endfor %}
				<ul>

							</div>
						</section>
					</article>

			</div>


			</div>