---
title: Software Developer | Patrick Piedad
layout: 'baseIndex.njk'
---
{# TODO: Add "featured" blogs to front of page somewhere to grab attention. #}
		
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Patrick Piedad</h2>
							<p>Software Developer</p>
							<ul class="actions special">
								<li><a href="/contactMe/index.html" class="button primary">Get in Touch</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
				<section id="one" class="wrapper style1 special">
					<div class="inner">
						<header class="major">
							<ul class="icons major">
								<li><span class="icon fa-gem major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li>
							</ul>
							<h2>Hi! I'm Pat! <br> I'm a software developer based in Bavaria, Germany.</h2>
							{# <p>I love creating curated solutions to your problems.</p> #}
						</header>
					</div>
				</section>

				<!-- Two -->
				<section id="two" class="wrapper alt style2">
					<section class="spotlight">
						<div class="image"><img src="images/headshot.jpg" alt="" /></div><div class="content">
						<h2>My passion for coding</h2>
						<p>Over the years, I've developed a passion for using code to solve life's problems. My technical experience includes HTML5, CSS3, and Javascript.</p>
						<ul class="actions special">
							<li><a href="/aboutMe/index.html" class="button primary">Learn more about me!</a></li>
						</ul>
					</div>
					</section>
				</section>

				<!-- Blog Snippets -->
				<section id="two" class="wrapper style2">
					<div class="inner">
						<h2>My Featured Blog Posts</h2>
						<ul class="alt">
							{%- for post in collections.featured | reverse -%}
								{% include 'articleSnippet.njk' %}
							{%- endfor %}
						<ul>
					</div>
				</section>

				<!-- Three -->
<!--					<section id="three" class="wrapper style3 special">-->
<!--						<div class="inner">-->
<!--							<header class="major">-->
<!--								<h2>See what I can do</h2>-->
<!--								<p>I've listed a number of my past projects below for you to reference.<br />-->
<!--								Feel free to use these as inspiration for our future creation!</p>-->
<!--							</header>-->
<!--							<ul class="features">-->
<!--								<li class="icon fa-heart">-->
<!--									<h3>Classic Bavarian Restaurant</h3>-->
<!--									<p>I built this website to showcase the possibilities in bringing a restaurant's online presence, alive!</p>-->
<!--								</li>-->
<!--								<li class="icon solid fa-laptop">-->
<!--									<h3>Oma & Opa's Trinkets</h3>-->
<!--									<p>This project showcases a local trinket shop, from all the basic information you need, to example listings of what they have to sell.</p>-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--&lt;!&ndash;								<li class="icon solid fa-code">&ndash;&gt;-->
<!--&lt;!&ndash;									<h3>Mus Scelerisque</h3>&ndash;&gt;-->
<!--&lt;!&ndash;									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--&lt;!&ndash;								<li class="icon solid fa-headphones-alt">&ndash;&gt;-->
<!--&lt;!&ndash;									<h3>Mauris Imperdiet</h3>&ndash;&gt;-->
<!--&lt;!&ndash;									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--&lt;!&ndash;								<li class="icon fa-heart">&ndash;&gt;-->
<!--&lt;!&ndash;									<h3>Aenean Primis</h3>&ndash;&gt;-->
<!--&lt;!&ndash;									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--&lt;!&ndash;								<li class="icon fa-flag">&ndash;&gt;-->
<!--&lt;!&ndash;									<h3>Tortor Ut</h3>&ndash;&gt;-->
<!--&lt;!&ndash;									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--							</ul>-->
<!--						</div>-->
<!--					</section>-->

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Let's Chat</h2>
								<p>I'm always open to project inquiries and collaborations as well as simple coffee chats! 
									<br>
									<br> Click the button to access my contact form!</p>
							</header>
							<ul class="actions stacked">
								<li><a href="/contactMe/index.html" class="button fit primary">Get in Touch</a></li>
<!--								<li><a href="/generic/index.html" class="button fit">About Me</a></li>-->
							</ul>
						</div>
					</section>

				</div>