---
title: Patrick Piedad
layout: 'baseRest.njk'
---
								{# TODO: Add blog picture image template for each article to populate #}
		<!-- Page Wrapper -->
			<div id="page-wrapper">

<!-- Main -->
	<article id="main">
		<header>
			<h2>{{title}}</h2>
			<p class="blogDescription">{{description}}</p>
		</header>
		<section class="wrapper style5">
			<div class="inner">
				{# <img class = "blogImageRight" src={{image}} alt={{imageAlt}}> #}
				<h5 class = "blogText">
					{{ content | safe }}
					{# <p class="blogDescription"> by <span>{{author}}</span> on <span>{{date | Date}}</span></p> #}
				</h5>
			</div>
		</section>
	</article>

</div>