---
title: Software Developer | Patrick Piedad
layout: 'baseRest.njk'
---
								{# TODO: Add blog picture image template for each article to populate #}
		<!-- Page Wrapper -->
			<div id="page-wrapper">

<!-- Main -->
	<article id="main">
		<header>
			<h2>{{title}}</h2>
			<p class="blogDescription">{{description}}</p>
		</header>
		<section class="wrapper style5">
			<div class="inner">
				<img class = "image right" src={{image}} alt={{imageAlt}}>
				<h5 class = "blogText">
					{{ content | safe }}
				</h5>
			</div>
		</section>
	</article>

</div>