<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="https://twitter.com/patpexplores" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.linkedin.com/in/patrick-piedad/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://github.com/patrickpiedad" class="icon brands fa-github"><span class="label">Instagram</span></a></li>
        <li><a href="mailto:patrickpiedad@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>Patrick Piedad</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</footer>