<!-- Header -->
<header id="header">
    <h1 class="full-text"><a href="/index.html">Patrick Piedad</a></h1>
    <h1 class="short-text"><a href="/index.html">Patrick Piedad</a></h1>
    <h1 class="shortest-text"><a href="/index.html">Patrick Piedad</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/aboutMe/index.html">About Me</a></li>
<!--					<li><a href="/projects/index.html">Projects</a></li>-->
                        <li><a href="/blog/index.html">Blog</a></li>
                        <li><a href="/contactMe/index.html">Contact Me</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>